<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google font styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- personal styles -->
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <!-- font awesome script -->
    <script
      src="https://kit.fontawesome.com/7c9958e3c2.js"
      crossorigin="anonymous"
    ></script>
    <title>Scissors</title>
  </head>
  <body>
    <div class="message">
      <div>
        <% if (data.error) { %>
        <p class="error"><%= data.error %></p>
        <% } %>
      </div>
      <div>
        <% if (data.username) { %>
        <p class="valid">Hi <%= data.username %></p>
        <% } %>
      </div>
    </div>
    <div class="container">
      <header class="header">
        <img
          src="/imgs/scissors-logo.png"
          alt="Scissors logo"
          class="heading__logo"
        />
        <h1 class="heading__primary">Scissors</h1>
        <p class="heading__subtitle">smoothly Shorten your links</p>
      </header>
      <main id="signup">
        <div class="form">
          <form action="/signup" method="POST">
            <div class="form__group">
              <label for="username">Username</label>
              <input
                class="form__input"
                type="text"
                name="username"
                id="username"
                placeholder="Username"
                required
              />
            </div>
            <div class="form__group">
              <label for="email">Email</label>
              <input
                class="form__input"
                type="text"
                name="email"
                id="email"
                placeholder="Email"
                required
              />
            </div>
            <div class="form__group">
              <label for="password">Password</label>
              <input
                class="form__input"
                type="password"
                name="password"
                id="password"
                placeholder="Password"
                required
              />
              <!-- toggle password functionality -->
              <div class="form__checkPassword hide">
                <input
                  type="checkbox"
                  id="togglePassword"
                  class="form__checkbox"
                />
                <label for="togglePassword" class="showPassword togglePassword"
                  ><i class="fa-regular fa-eye"></i>
                </label>
                <label
                  for="togglePassword"
                  class="hidePassword togglePassword hide"
                  ><i class="fa-regular fa-eye-slash"></i
                ></label>
              </div>
            </div>
            <div class="form__group">
              <label for="password2">Confirm Password</label>
              <input
                class="form__input"
                type="password"
                name="password2"
                id="password2"
                placeholder="Confirm Password"
                required
              />
              <!-- toggle password functionality -->
              <div class="form__checkPassword hide">
                <input
                  type="checkbox"
                  id="togglePassword2"
                  class="form__checkbox"
                />
                <label for="togglePassword2" class="showPassword togglePassword"
                  ><i class="fa-regular fa-eye"></i>
                </label>
                <label
                  for="togglePassword2"
                  class="hidePassword togglePassword hide"
                  ><i class="fa-regular fa-eye-slash"></i
                ></label>
              </div>
              <span class="form__error hide">passwords don't match.</span>
            </div>
            <div class="form__group">
              <button
                type="submit"
                class="btn btn--submit btn--signup"
                disabled
              >
                Sign Up
              </button>
            </div>

            <div class="pages">
              <p class="pages__text">Have an account?</p>
              <a href="/login" class="pages__link">Log in</a>
            </div>
          </form>
        </div>
      </main>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
